*.iml
*.ipr
*.iws
*.ids
*.log
*.pyc
/target/
.idea/
classes/
cobertura/
.DS_Store
.idea/*
.gradle/
build/
out/
bin/
release/build/*
release/cache
.classpath
.project
**/node_modules/
**/bower_components/
*/**/.tmp
.settings/
.sass-cache/
.tmp/
**/*.log
**/*.log.*
**/*.css
**/assets/
**/baggins/index.html
